.favoritesholder{
  background: #FFF;
  border:10px solid #272b30;
  padding-top:10px;
  cursor: pointer;
  overflow: hidden;

}
.favoritesholder:hover{
  opacity: 0.8;
}

.favoritesholder:hover .broken-heart{
  display: block;
}

.broken-heart{
  background-image: url('./follow/broken-heart.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left:0;
  height: 100%;
  z-index: 3;
  display: none;;
}

.artistName{
  color: #000;
}
ul{
  padding:0;
}
ul li {
  color: #fff;
  padding: 6px 10px 6px 4px;
  display: block;
  text-decoration: none;
  text-align: left;
  position: relative;
}
ul li:hover {
  background: #555;
}
